/* main  */
main {
  width: 50%;
}

.container {
  width: 90%;
  margin: auto;
  padding-bottom: 4.5em;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

aside {
  width: 29%;
  margin-top: 1em;
  font-size: 0.8em;
}
