<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">SoftUni Forum</span></p>
    </div>

    <div class="mini-navbar">
      <ul *ngIf="!isLoggedIn">
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
      </ul>

      <ul *ngIf="isLoggedIn">
        <li>
          <a routerLink="/profile">{{ firstName }}'s profile</a>
        </li>
        <li (click)="logout()">
          <a>Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/themes">Themes</a>
      </li>
      <li>
        <a routerLink="/add-theme">New Theme</a>
      </li>
    </ul>
  </nav>
</header>
