/*
*Removes all default whitespace
*/

* {
    padding: 0;
    margin: 0;
}

/*
*Reset CSS model sizing calculations
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}