<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">SoftUni Forum</span></p>
    </div>
    <div *ngIf="isLoggedIn" class="mini-navbar">
      <ul>
        <li>
          <a href="#">Login</a>
        </li>
        <li>
          <a href="#">Register</a>
        </li>
      </ul>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Themes</a>
      </li>
      <li>
        <a href="#">New Theme</a>
      </li>
    </ul>
  </nav>
</header>
