<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Parisienne&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
    <title>SoftUni Forum</title>
</head>

<body>

    <header>
        <div class="mini-navbar-wrap">
            <div class="logo-wrap">
                <p class="logo"><span class="logo">SoftUni Forum</span></p>
            </div>
            <div class="mini-navbar">
                <ul>
                    <li>
                        <a href="#">John's profile</a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                    <!-- <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Register</a>
                    </li> -->
                </ul>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Themes</a>
                </li>
                <li>
                    <a href="#">New Theme</a>
                </li>
            </ul>
        </nav>

    </header>

    <!-- homepage -->
    <div class="container">
        <div class="new-theme-border">
            <div class="header-background">
                <span>New Theme</span>
            </div>
            <form>
                <div class="new-theme-title">
                    <label for="themeName">Title <span class="red">*</span></label>
                    <input type="text" name="themeName" id="themeName">
                    <p class="error">
                        Theme name is required.
                    </p>
                    <p class="error">
                        Theme name must be at least 5 characters long.
                    </p>
                </div>
                <div class="new-theme-content">
                    <label for="postText">Post <span class="red">*</span></label>
                    <textarea type="text" name="postText" id="postText" rows="8" class="height"></textarea>
                    <p class="error">
                        The field with your post is required.
                    </p>
                    <p class="error">
                        Post must be at least 10 characters long.
                    </p>
                </div>
                <div class="new-theme-buttons">
                    <button class="cancel">Cancel</button>
                    <button class="public">Post</button>
                </div>

            </form>
        </div>
    </div>

    <footer>
        <p>This site is designed to be used for training purposes at SoftUni.</p>
        <p>You can find the real SoftUni forum at this link:</p>
        <p><span><a href="https://softuni.bg/forum">https://softuni.bg/forum</a></span> Angular course Copyright &copy
            2020</p>
    </footer>
</body>

</html>