<div class="container">
  <form class="login" #form="ngForm" (ngSubmit)="login(form)">
    <fieldset>
      <h2>Login Form</h2>

      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          class="input-error"
          type="email"
          name="email"
          id="email"
          placeholder="john.doe@gmail.com"
          ngModel
          #inputEmail="ngModel"
          required
          [appEmail]="appEmailDomains"
        />
      </p>

      <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail.errors?.['required']">
          Email is required!
        </p>
        <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">
          Email is not valid!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
          #inputPassword="ngModel"
          ngModel
          required
          minlength="5"
        />
      </p>
      <ng-container *ngIf="inputPassword.touched">
        <p class="error" *ngIf="inputPassword.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="inputPassword.errors?.['minlength']">
          Password must be at least
          {{inputPassword.errors?.['minlength']['requiredLength']}} characters!
        </p>
      </ng-container>

      <!-- [style]="{ backgroundColor: form.invalid ? 'grey' : 'blue' }" -->
      <button [disabled]="form.invalid">Login</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/auth/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>
