<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Parisienne&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
    <title>SoftUni Forum</title>
</head>

<body>

    <header>
        <div class="mini-navbar-wrap">
            <div class="logo-wrap">
                <p class="logo"><span class="logo">SoftUni Forum</span></p>
            </div>
            <div class="mini-navbar">
                <ul>
                    <li>
                        <a href="#">John's profile</a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                    <!-- <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Register</a>
                    </li> -->
                </ul>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Themes</a>
                </li>
                <li>
                    <a href="#">New Theme</a>
                </li>
            </ul>
        </nav>

    </header>

    <!-- homepage -->
    <div class="container">
        <div class="profile"><img src="./profile.png" alt="default user">
            <h3>User Info:</h3>
            <div class="flex">
                <p>Username: </p>
                <p>Johny</p>
            </div>
            <div class="flex">
                <p>Email: </p>
                <p>john.doe@gmail.com</p>
            </div>
            <div class="flex">
                <p>Phone: </p>
                <p>+359 885 888 888</p>
            </div>
            <button class="edit-button">Edit</button>
        </div>
    </div>

    <footer>
        <p>This site is designed to be used for training purposes at SoftUni.</p>
        <p>You can find the real SoftUni forum at this link:</p>
        <p><span><a href="https://softuni.bg/forum">https://softuni.bg/forum</a></span> Angular course Copyright &copy
            2020</p>
    </footer>
</body>

</html>