<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
    <title>SoftUni Forum</title>
</head>

<body>

    <header>
        <div class="mini-navbar-wrap">
            <div class="logo-wrap">
                <p class="logo"><span class="logo">SoftUni Forum</span></p>
            </div>
            <div class="mini-navbar">
                <ul>
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Register</a>
                    </li>
                </ul>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Themes</a>
                </li>
                <li>
                    <a href="#">New Theme</a>
                </li>
            </ul>
        </nav>

    </header>

    <!-- homepage -->
    <div class="container">
        <main>
            <div class="theme-title">
                
                <!-- theme component  -->
                <div class="theme-container">
                    <div class="theme-name-wrapper">
                        <div class="theme-name">
                            <a href="#" class="normal">
                                <h2>Angular 10</h2>
                            </a>
                            <div class="columns">
                                <div>
                                    <p>Date: <time>2020-10-10T12:08:28.451Z</time></p>
                                    <div class="nick-name">
                                        <p>Username: <span>David</span></p>
                                    </div>
                                </div>
                                <div class="subscribers">
                                    <!-- <button class="subscribe">Subscribe</button> -->
                                    <p>Subscribers: <span>456</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="theme-container">
                    <div class="theme-name-wrapper">
                        <div class="theme-name">
                            <a href="#" class="normal">
                                <h2>JS Advanced course</h2>
                            </a>
                            <div class="columns">
                                <div>
                                    <p>Date: <time>2020-04-10T15:08:28.431Z</time></p>
                                    <div class="nick-name">
                                        <p>Username: <span>Johny</span></p>
                                    </div>
                                </div>
                                <div class="subscribers">
                                    <!-- <button class="unsubscribe">Unsubscribe</button> -->
                                    <p>Subscribers: <span>123</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="theme-container">
                    <div class="theme-name-wrapper">
                        <div class="theme-name">
                            <a href="#" class="normal">
                                <h2>React hooks - Pros and cons</h2>
                            </a>
                            <div class="columns">
                                <div>
                                    <p>Date: <time>2019-12-12T22:16:27.351Z</time></p>
                                    <div class="nick-name">
                                        <p>Username: <span>Donald</span></p>
                                    </div>
                                </div>
                                <div class="subscribers">
                                    <!-- <button class="subscribe">Subscribe</button> -->
                                    <p>Subscribers: <span>121</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="theme-container">
                    <div class="theme-name-wrapper">
                        <div class="theme-name">
                            <a href="#" class="normal">
                                <h2>Express JS - How to deploy in Heroku</h2>
                            </a>
                            <div class="columns">
                                <div>
                                    <p>Date: <time>2020-10-06T19:18:28.433Z</time></p>
                                    <div class="nick-name">
                                        <p>Username: <span>Stephan</span></p>
                                    </div>
                                </div>
                                <div class="subscribers">
                                    <!-- <button class="subscribe">Subscribe</button> -->
                                    <p>Subscribers: <span>65</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="theme-container">
                    <div class="theme-name-wrapper">
                        <div class="theme-name">
                            <a href="#" class="normal">
                                <h2>Java Advanced</h2>
                            </a>
                            <div class="columns">
                                <div>
                                    <p>Date: <time>2020-08-10T11:48:45.411Z</time></p>
                                    <div class="nick-name">
                                        <p>Username: <span>Jane</span></p>
                                    </div>
                                </div>
                                <div class="subscribers">
                                    <!-- <button class="subscribe">Subscribe</button> -->
                                    <p>Subscribers: <span>22</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- aside component  -->
        <aside>
            <div class="aside">
                <h2 class="title">
                    Recent posts
                </h2>
                <div>
                    <div class="aside-theme">
                        <a href="#">
                            <h3>Angular 10</h3>
                            <p>Silvester</p>
                            <p><span>2020-10-14T10:11:52.264Z</span></p>
                        </a>
                    </div>
                    <div class="aside-theme">
                        <a href="#">
                            <h3>React hooks - Pros and cons</h3>
                            <p>Jane</p>
                            <p><span>2020-10-10T08:15:52.464Z</span></p>
                        </a>
                    </div>
                    <div class="aside-theme">
                        <a href="#">
                            <h3>React hooks - Pros and cons</h3>
                            <p>Stephen</p>
                            <p><span>2020-10-04T18:51:22.264Z</span></p>
                        </a>
                    </div>
                    <div class="aside-theme">
                        <a href="#">
                            <h3>Java Advanced</h3>
                            <p>Tom</p>
                            <p><span>2020-09-30T13:25:55.254Z</span></p>
                        </a>
                    </div>
                    <div class="aside-theme">
                        <a href="#">
                            <h3>JS Advanced course</h3>
                            <p>Pamela</p>
                            <p><span>2020-08-12T07:31:44.564Z</span></p>
                        </a>
                    </div>
                </div>
            </div>
        </aside>
    </div>

    <footer>
        <p>This site is designed to be used for training purposes at SoftUni.</p>
        <p>You can find the real SoftUni forum at this link:</p>
        <p><span><a href="https://softuni.bg/forum">https://softuni.bg/forum</a></span> Angular course Copyright &copy
            2020</p>
    </footer>
</body>

</html>