<main>
  <div *ngIf="isLoading">
    <app-loader />
  </div>

  <div class="welcome-comp">
    <app-welcome />
  </div>

  <div class="theme-title" *ngIf="!isLoading">
    <div *ngFor="let theme of themesList" class="theme-container">
      <div class="theme-name-wrapper">
        <div class="theme-name">
          <a [routerLink]="theme._id" class="normal">
            <h2>{{ theme.themeName }}</h2>
          </a>
          <div class="columns">
            <div>
              <p>
                Date: <time>{{ theme.created_at }}</time>
              </p>
              <div class="nick-name">
                <p>
                  Username: <span>{{ theme.userId.username }}</span>
                </p>
              </div>
            </div>
            <div class="subscribers">
              <button *ngIf="isLogged" class="subscribe">Subscribe</button>
              <p>
                Subscribers: <span>{{ theme.subscribers.length }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
